/* UNIVERSAL STYLES */
html,
body {
    font-size: 18px;
    font-family: Helvetica;
    margin: 0;
    color: white;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* NAVIGATION  LOGO AND TITLE*/
.container nav.menu {
    display: flex;
    align-items: center;
    width: 100%;
    background: cadetblue;
    margin-top: 1rem;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 30rem;
    background-image: url("../images/glasses-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main .container {
    width:100%;
}

img.logo {
    height: 1.5rem;
    padding-left: 2rem;
}
span.sites a {
    padding-right: 2rem;
}

.container span.logo {
    padding-left: 1rem;
    flex-grow: 2;
}


#tablet a {
    display: none
}

.flexthis {
    display:flex;
    position: relative;
    left: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.box {
    background-color: white;
    margin-top: 10rem;
    padding: 1.5rem 5rem;
}

h2 {
    font-weight: bold;
    line-height: 1.2;
    font-size: 2rem;
    color: black;
}

/* PRODUCT GRID AND INFORMATION SECTION */

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 5rem;;
}

.exams, .fittings, .delivery {
    margin:0 3rem 3rem 3rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.exams img {
    max-width: 3.5rem;
}

.fittings img, .delivery img {
    max-width: 5rem;
}

.philosophy , .appointments {
    flex-basis: 35%;
    overflow: hidden;
}

.philosophy {
    margin-right: 5%;
}

.caption {
    color: black;
    text-align: center;
}

.philosophy h3,.appointments h3 {
    width: 10rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    color: white;
}

p {
    color:black;
}

/* FOOTER STYLING */
footer {
    display: flex;
    padding: 2rem;
    background-color: azure;
}

footer span {
    color: black;
}

footer img {
    padding-left: 2rem;
    padding-right: 1rem;
}

/* MEDIA QUERIES  */
@media only screen  and (max-width: 960px) {

    .container nav.menu {
	margin-top: 0;
    }

    main {
	height: 22rem;
    }

    .box {
	margin-top: 5rem;
	position: relative;
	right: 2rem;
	padding: 0.75rem 4rem;
	margin-right: 2rem;
    }

    h2 {
	font-size: 1.33rem;
    }

}


@media only screen and (max-width: 470px){

    #tablet a {
	display: block;
	text-align: right;
	padding-right: 2rem;
    }

    main {
	height: 17rem;
	background-position: 20%;
    }

    nav.menu {
	justify-content: space-between;
    }

    nav.menu span {
	display: none;
    }

    .flexthis {
	display:flex;
	position: static;
	align-items: center;
    }

    .box {
	position: static;
	margin-top: 9rem;
	width: 100%;
	padding: 1rem 4rem;
	margin-right: 0;
    }

    h2 {
	text-align: center;
	font-size: 1rem;
    }

    footer.container {
	justify-content: center;
    }

    footer span {
	display: none;
    }
    /* PRODUCT GRID AND INFORMATION SECTION */

    .product {
	flex-direction: column;
	padding-top: 3.77rem;
	padding-bottom: 3.77rem;;
    }

    .exams, .fittings, .delivery {
	margin-bottom:1.54rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    }


    .philosophy , .appointments {
	flex-basis: 35%;
	overflow: hidden;
    }

    .philosophy {
	margin-right: 0;
	margin-bottom: 4rem;
    }

    .caption {
	color: black;
	text-align: center;
    }

    .philosophy h3,.appointments h3 {
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
	background-color: cadetblue;
	padding: 0.5rem 1.25rem;
	font-size: 0.77rem;
    }
    p {
	color:black;
    }
}
